
html {
    height: 100%;
}

body {
    font-family: "Helvetica Neue", Helvetica;
    font-weight: normal;
    font-size: 10pt;
    background-color: #1a1a1a;
    background: linear-gradient(#000, #222);
}

.nav {
    background-color: #e8ebf0;
    position:absolute;
    padding:3px;
    top:0px;
    left:0px;
    width:350px;
    height:100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.nav a {
    color: #676a6d;
    text-decoration: none;
    padding: 1px 5px;
}

.nav a.selected {
    background-color: #0063cd;
    color: #fff;
    border-radius: 10px;
}

.distance {
    margin: 10px 10px;
    display: table-cell;
    vertical-align: middle;
    height: 50px;
}

.distance label {
    float:left;
    padding-left:10px;
}

.distance input {
    float:left;
    margin-left:10px;
}

.arrow {
    width:20px;
    height:20px;
    display: inline-block;
    background: url(../img/arrow_right_16.png) no-repeat center center;
    transition: transform 0.1s;
    -webkit-transition: transform 0.1s;
    vertical-align: top;
    cursor: pointer;
}

.arrow.open {
    transform: rotateZ(90deg);
    -webkit-transform: rotateZ(90deg);
}

.viewport-container {
    position: absolute;
    left:350px;
    top:0px;
    right:0px;
    bottom:0px;
}

.viewport {
    width: 250px;
    perspective: 1000px;
    -webkit-perspective: 1000px;
    -webkit-backface-visibility: hidden;
    margin: 100px auto 0px auto;
}

.images {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: transform;
    transition-duration: 1s;
    /*transition-timing-function: ease-out;*/
}

img {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 0px;
    top: 75px;
    -webkit-user-drag: none;
}

.info {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    text-align: center;
    color: #fff;
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
    width: 16px;
    height: 16px;
    background: url(../img/ajax-loader.gif) no-repeat;
}

.geoError {
    position:fixed;
    top: 50%;
    left: 50%;
    margin-left:-125px;
    margin-top:-35px;
    width:250px;
    height: 70px;
    font-weight: bold;
    text-align: center;
    line-height: 2.0;
}

ul {
    padding:2px;
    margin:0px;
}

li {
    list-style-type: none;
    line-height:20px;
}

ul li ul {
    margin-left: 30px;
}
